@import 'reset.less';

.clearfix() {
	&:before, &:after { content: ''; display: table; }
	&:after { clear: both; }
}

body { font-family: sans-serif; font-size: 16px; color: black; background: white; }

.feedfilter { position: absolute; position: fixed; top: 0; left: 0; right: 0; z-index: 10000; line-height: 60px;  background: #999999;
	.active { font-weight: bold; }
}

.feedlist { position: relative; margin: 60px auto;
	.feeditem { position: absolute; top: 100%; margin-bottom: 20px; }
	.items { }
	.column { width: 300px; }
	.gutter { width: 20px; }
}

