* { margin: 0; padding: 0; border: 0; box-sizing: border-box; word-wrap: break-word; }
html { text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body { position: relative; min-height: 100%; }
